# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env*
*.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.idea

*storybook.log

# 로컬 리뷰 보고서와 PR 초안
/review-report-????-??-??.md
/PR.md

